In [2]:
import os
import pandas as pd
import numpy as np
import tqdm

In [8]:
df_pos = pd.read_csv('SciVisContest23/viz-no-network/positions/rank_0_positions.txt', sep=' ', names=['local_id', 'x', 'y', 'z', 'area', 'type'], skiprows=8)

In [9]:
df_pos.head()

   local_id          x          y          z     area type
0         1  88.017654  143.88911  83.259131  area_43   ex
1         2  88.071787  143.79220  83.237149  area_43   ex
2         3  88.093434  143.95190  83.168331  area_43   ex
3         4  88.063898  143.81981  83.317563  area_43   ex
4         5  88.066131  143.97354  83.238470  area_43   ex

In [10]:
df_pos.describe()

           local_id             x             y             z
count  50000.000000  50000.000000  50000.000000  50000.000000
mean   25000.500000     86.357256     73.550257     82.670895
std    14433.901067     47.131261     43.202716     42.505411
min        1.000000      0.000000      0.000000      0.000000
25%    12500.750000     47.289944     34.842769     46.140203
50%    25000.500000     86.894002     74.048540     82.002548
75%    37500.250000    121.490067    112.334530    120.600313
max    50000.000000    186.672470    146.649010    154.373090

In [11]:
df_pos.isna().any().any()

False

In [12]:
df_pos.nunique()

local_id    50000
x           49965
y           49958
z           49952
area           48
type            1
dtype: int64

In [16]:
columns = ['step', 'fired', 'fired_fraction', 'activity', 'dampening', 'current_calcium', 'target_calcium', 'synaptic_input', 'background_input', 
    'grown_axons', 'connected_axon', 'grown_dendrites', 'connected_dendrites', 'id']
df = pd.DataFrame(columns=['connected_dendrites'])
files = os.listdir('SciVisContest23/viz-no-network/monitors')
max = 0
for file in tqdm.tqdm(files):
    df_inter = pd.read_csv('SciVisContest23/viz-no-network/monitors/' + file, sep=';', names=columns)
    df_inter = df_inter.fillna(0)
    if np.max(df_inter['connected_dendrites']) > max and np.max(df_inter['connected_dendrites']) < 14:
        max = np.max(df_inter['connected_dendrites'])

100%|██████████| 50000/50000 [19:50<00:00, 42.00it/s]

In [17]:
print(max)

14